{# macro fullImage(tiny, url, mobile, x, y) %}
    <section class="opacity0" v-inview="{ animation: 'fadeIn', offset: 75 }">
    <div class="full-image uk-background-cover" v-lazy:background-image="{
        loading: '{{ tiny }}',
        src: w > 700 ? '{{ url }}' : '{{ mobile }}',
        }" style="background-position: {{ x * 100 }}% {{ y * 100 }}%;"></div></section>
{% endmacro #}

{# background-image: url({{ tiny }})" #}